<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\color-flipper.css">
    <script src="\javascript\color-flipper.js" defer></script>
    <title>color flipper</title>
</head>
<body>
  <nav class="nav-links og">
    <div class="nav-links p-3">
        <a href="/" class="subscription" id="nav-a">home</a>
        <br>
        <a href="/about" class="subscription" id="nav-a">about</a>
    </div>
</nav>

    <nav class="navbar">
      <div class="brand-title">
        <h2>
          <a href="color-flipper.html" id="title">

              <span id="red">c</span>
              <span id="blue">o</span>
              <span id="yellow">l</span>
              <span id="green">o</span>
              <span id="purple">r</span>

<br>
      
              <span id="pink">f</span>
              <span id="orange">l</span>
              <span id="red">i</span>
              <span id="green">p</span></a>
              <span id="pink">p</span>
              <span id="orange">e</span>
              <span id="red">r</span>
          </h2>
      </div>
    </nav>
     

    <main>
        <div class="container">
          <h2 id="back-color">background color: <span class="color">
            #f1f5f8
          </span></h2> 
          
        </div>
      </main>
      <div class="buttons">
      <button class="btn btn-hero toggle-button" id="btn">click me to change color</button> 
      <a href="/color-flipper">
        <button class="btn btn-hero" id="reset">reset</button>
      </a>
          
        </div>
</body>
</html>