<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="\css\counter.css">
    <script src="\javascript\counter.js" defer></script>
    <title>counter</title>
</head>
<body>
  <nav class="nav-links">
    <div class="nav-links p-3">
        <a href="/" class="subscription" id="nav-a">home</a>
        <br>
        <a href="/about" class="subscription" id="nav-a">about</a>
    </div>
</nav>
    <div class="container-countdown">
    <div class="value-container">
        <label for="hour" id="hour-label">Hour</label> 
        <input type="number" value="0" max="99" min="0" id="hour">
        
            <label for="minute" id="minute-label">Minutes</label> :
            <input type="number" value="1" max="60" min="0" id="minute">
        
            <label for="second" id="second-label">Seconds</label> :
            <input type="number" value="0" max="60" min="0" id="second">
    </div>
    <p id="warn">minute is set to one so make sure to change it if you need to</p>

    <div class="button">
        <button class="btn-start" id="start">start</button>
        <a href="/countdown">
        <button class="btn-reset" id="reset">reset</button>
    </a>
    </div>
</div>


  


</body>
</html>