<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\search.css">
    <script src="https://kit.fontawesome.com/1364972581.js" crossorigin="anonymous"></script>
    <title>search</title>
</head>
<body>
    <nav class="nav-links">
        <div class="nav-links p-3">
            <a href="/" class="subscription" id="nav-a">home</a>
            <br>
            <a href="/about" class="subscription" id="nav-a">about</a>
        </div>
    </nav>
    <br>
    <article id="top" class="mt-3">
       
        
       <h1 id="title">search the web</h1>
         
    </article>

        <h2>catagories</h2>
        <article class="post">
            <section class="search-type">
              <div class="search">
                <p id="catagory">search engines</p>
              <p id="name">
                <span id="blue">g</span>
                <span id="red">o</span>
                <span id="yellow">o</span>
                <span id="blue">g</span></a>
                <span id="green">l</span>
                <span id="red">e</span>
            </p>
            
            <form action="https://www.google.com/search">
                <input type="text" name="q" placeholder="search Google">
                <button>Go!</button>
                </form>

                   <div id="name">
      <span id="green">Bing</span>
       </div>
       <div class="container">
       <form action="https://www.bing.com/search">
       <input type="text" name="q" placeholder="search Bing">
       <button>Go!</button>
       </form>
              </div>
              <div id="name">
                <span id="orange">Duck Duck Go</span>
                 </div>
                 <div class="container">
                 <form action="https://duckduckgo.com/?">
                 <input type="text" name="q" placeholder="search Duck Duck Go">
                 <button>Go!</button>
                 </form>
              </div>
              <div id="name">
                <span id="dpurple">Yahoo!</span>
                 </div>
                 <div class="container">
                 <form action="https://uk.search.yahoo.com/search">
                 <input type="text" name="q" placeholder="search Yahoo!">
                 <button>Go!</button>
                 </form>
              </div>
              <div id="name">
                <span id="red">Y</span>
                andex
                 </div>
                 <div class="container">
                 <form action="https://yandex.com/search/">
                 <input type="text" name="text" placeholder="search Yandex">
                 <button>Go!</button>
                 </form>
                        </div>  
              </div>

              
              <div class="search">
                <p id="catagory">video sharing platforms</p>
                <div id="name">
                    <span id="red">YouTube</span>
                    <span id="yt"><i class="fab fa-youtube"></i></span>
                     </div>
                     <div class="container">
                     <form action="https://www.youtube.com/results?search">
                     <input type="text" name="q" placeholder="search YouTube">
                     <button>Go!</button>
                     </form>
            </div>
            <div id="name">
                <span id="dpurple">Twitch</span>
                <span id="twitch"><i class="fab fa-twitch"></i></span>
                 </div>
                 <div class="container">
                 <form action="https://www.twitch.tv/search?term=">
                 <input type="text" name="term" placeholder="search Twitch">
                 <button>Go!</button>
                 </form>
        </div>
        <div id="name">
            <span id="red">BitChute</span>
             </div>
             <div class="container">
             <form action="https://www.bitchute.com/search/">
             <input type="text" name="query" placeholder="search BitChute">
             <button>Go!</button>
             </form>
</div>
<div id="name">
    <span id="orange">StoryFire</span>
     </div>
     <div class="container">
     <form action="https://storyfire.com/search?query=">
     <input type="text" name="q" placeholder="search StoryFire">
     <button>Go!</button>
     </form>
</div>
 </div>    
 
 <div class="search">
    <p id="catagory">Social Media</p>
<div id="name">
<span id="blue">twitter</span>
<span id="twtr"><i class="fab fa-twitter"></i></span>
</div>
<div class="container">
<form action="https://mobile.twitter.com/search?">
<input type="text" name="q" placeholder="search twitter">
<button>Go!</button>
</form>
  </div>
  <div id="name">
    <span id="reddit">Reddit</span>
    <span id="reddit"><i class="fab fa-reddit"></i></span>
    </div>
    <div class="container">
    <form action="https://www.reddit.com/search/?">
    <input type="text" name="q" placeholder="search Reddit">
    <button>Go!</button>
    </form>
      </div>
  </div>

  
  <div class="search">
    <p id="catagory">general shopping</p>
    <div id="name">
        <span id="orange">amazon</span>
        <span><i class="fab fa-amazon"></i></span>
         </div>
         <div class="container">
         <form action="https://www.amazon.co.uk/s">
         <input type="text" name="k" placeholder="search amazon">
         <button>Go!</button>
         </form>
</div>
<div id="name">
    <span id="red">Argos</span>
     </div>
     <div class="container">
     <form action="https://www.argos.co.uk/search">
     <input type="text" name="" placeholder="search Argos">
     <button>Go!</button>
     </form>
</div>
<div id="name">
<span id="red">e</span>
<span id="blue">B</span>
<span id="yellow">a</span>
<span id="green">y</span>
 </div>
 <div class="container">
 <form action="https://www.ebay.co.uk/sch/">
 <input type="text" name="query" placeholder="search eBay">
 <button>Go!</button>
 </form>
</div>
<div id="name">
<span id="red">Target</span>
<span id="red"><i class="fas fa-bullseye"></i></span>
</div>
<div class="container">
<form action="https://www.target.com/s?searchTerm=">
<input type="text" name="" placeholder="search Target">
<button>Go!</button>
</form>
</div>
<div id="name">
    <span id="blue">Walmart</span>
     </div>
     <div class="container">
     <form action="https://www.walmart.com/search/?">
     <input type="text" name="query" placeholder="search Walmart">
     <button>Go!</button>
     </form>
</div>
     
            </article>
            </section>
          
      
            
</body>
</html>